


<div class="container" id="content" #content>
  <header>
    <div class="left-header">
      <h2 class="name">Horus Sinhue Camacho</h2>
      <h1 class="title">Full Stack Web Developer</h1>
    </div>
    <div class="right-header">
      <p>Pachuca, México</p>
      <p>(+52) 1 7714239236</p>
      <p>camachohorus@gmail.com</p>
      <p>https://portafolioangular-26300.web.app/</p>
      <p>https://www.linkedin.com/in/horuscamacho/</p>
      <p>https://github.com/horuscamacho</p>
    </div>
  </header>

  <section class="about">
    <p>Full Stack Developer con más de 1 año de experiencia como desarrollador Full Stack, especializado en el uso de NodeJs y Express para el desarrollo del Back end, mientras que en el Front end cuento con experiencia en el manejo de Angular como framework principal y la librería de React.</p>
    <p>Con conocimientos en HTML, CSS, Javascript, TailwindCSS, SASS, Angular, React, Microservicios, Hooks, CDK Angular, CRUD, NodeJS, Express, Passport, entre otros. Como parte de mi servicio social para titularme como Licenciado en Derecho, dentro del área de Estudios Legislativos en el Congreso del Estado de Hidalgo, planifique un sistema que servirá como una Biblioteca de Normatividades que brindará mejor accesibilidad a los abogados postulantes en la consulta de las normatividades vigentes en la entidad, así como las modificaciones históricas de los artículos que integran dichas disposiciones normativas, lo cual mejorará el rendimiento en general de sus profesiones al ahorrar tiempo en sus consultas.</p>
    <p>Mi experiencia adquirida durante el proceso de planificación dentro de mi servicio social, me permitió reforzar mis habilidades de comunicación, pensamiento crítico, liderazgo y organización. Mi nivel de ingles es: Advanced C1.</p>
  </section>
  <section class="projects">
    <h3>PROYECTOS</h3>
    <div class="individual-project">
      <div class="project-header">
        <div class="project-title">Full Stack Web Developer - Biblioteca de Normatividades en el Estado de Hidalgo</div>
        <div class="project-date">Abril 2022 - Mayo 2023</div>
      </div>
      <div class="experience-type first-experience-type">Experiencia Laboral</div>
      <div class="experience-location">Congreso del Estado de Hidalgo, Pachuca Hidalgo.</div>
      <div class="project-functions">Planificar, desarrollar e implementar un sistema de gestión de normatividades vigentes en el Estado de Hidalgo, eficientar la captura y gestión de los datos, permitiendo generar una consulta más sencilla de los registros históricos en las modificaciones que entran en vigor a través de los decretos generados por los diputados del Estado de Hidalgo</div>
      <div class="functions-related functions-end">Trabajé directamente en el diseño de la arquitectura y modelado de todo el sistema, en la parte del front utilice Angluar CLI en su versión 15, demás de Angular CDK para algunas interacciones y Typescript para el tipado de los datos, para la parte del back utilice ExpressJS y PassporJS para el panel administrativo, con autenticación local y JWT como estrategia. Para el manejo de la lógica de negocios implemente microservicios, para la base de datos utilize Sequelize como ORM y PostgreSQL para la base de datos relacional, entre otras funcionalidades.</div>
      <div class="front-description">Front: Angular, TailwindCSS, Angular CDK, Angular Material</div>
      <div class="back-description">Back: NodeJS, Express, PassportJS</div>
      <div class="bdd-description">Base de datos: Sequelize, PostgreSQL</div>
    </div>

    <div class="individual-project">
      <div class="project-header">
        <div class="project-title">Full Stack Web Developer - Ticket Shop Henry</div>
        <div class="project-date">Julio 2022 - Agosto 2022</div>
      </div>
      <div class="experience-type first-experience-type">Experiencia Académica</div>
      <div class="experience-location">Henry Bootcamp, Buenos Aires Argentina.</div>
      <div class="project-functions">Diseñar y desarrollar un e-commerce para la venta de boletos de diferentes eventos públicos, con pasarela de pagos, búsquedas, filtros combinados, ordenamientos, panel administrativo, baneo de usuarios, borrado lógico, etc.</div>
      <div class="functions-related functions-end">Trabajé directamente la parte correspondiente a la implementación de notificaciones vía email, la cual implemente con nodemailer, en el front colabore con un equipo de desarrolladores en las vistas y diseño de las interfaces, además para la gestión del proyecto utilizamos Asana mediante la metodología Agile SCRUM.</div>
      <div class="front-description">Front: React, TailwindCSS</div>
      <div class="back-description">Back: NodeJS, Express, PassportJS</div>
      <div class="bdd-description">Base de datos: Sequelize, PostgreSQL</div>
      <div class="url-repo">Repo: https://github.com/horuscamacho/TICKET-HENRY</div>
    </div>

    <div class="individual-project">
      <div class="project-header">
        <div class="project-title">Full Stack Web Developer - CV Generator</div>
        <div class="project-date">Mayo 2023</div>
      </div>
      <div class="experience-type first-experience-type">Proyecto Personal</div>
      <div class="experience-location">México.</div>
      <div class="project-functions">Diseñar y desarrollar un una plataforma que permita generar CV dinámicos que permitan reducir el tiempo en que los alumnos de Henry recientemente egresados, así como los alumnos que continúan la búsqueda de su primer empleo, ahorrándoles tiempo en el diseño de sus Currículums permitiéndoles optimizar su tiempo.</div>
      <div class="functions-related functions-end">Trabajé en el diseño de la arquitectura tanto del lado del back como en el front, utilizando Angular CLI en su versión 16 para este desarrollo y SASS para los estilos. En el back utilice ExpressJS, PassportJS para la autenticación, postgreSQL para la base de datos y Sequelize como ORM.</div>
      <div class="front-description">Front: Angular, SASS</div>
      <div class="back-description">Back: NodeJS, Express, PassportJS</div>
      <div class="bdd-description">Base de datos: Sequelize, PostgreSQL</div>
      <div class="url-repo">Repo: https://github.com/horuscamacho/back-resume-generator.git</div>
    </div>
  </section>
  <section class="profesional-experience">
    <h3>EXPERIENCIA PROFESIONAL</h3>
    <div class="individual-experience">
      <div class="experience-header">
        <div class="experience-title">Full Stack Web Developer</div>
        <div class="experience-date">Abril 2022 - Mayo 2023</div>
      </div>
    </div>
    <div class="professional-type first-experience-type">Prácticas Profesionales</div>
    <div class="prof-location">Congreso del Estado de Hidalgo, Pachuca México.</div>
    <ul class="prof-functions">
      <li>Diseñar, desarrollar e implementar una plataforma administrativa que permita eficientar el proceso en la captura de las normas generadas y/o modificadas en el Congreso del Estado de Hidalgo.</li>
      <li>Implementar Angular CLI, Angular Material, Angular CDK, Guardianes para la protección de las rutas, microservicios para la lógica de negocio</li>
      <li>Diseñar, desarrollar e implementar la arquitectura de una aplicación WEB que permita gestionar la información de los clientes administrativos, implementar capas de seguridad y microservicios para el modulado de la lógica de negocios.</li>
      <li>Gestión de roles administrativos para los diferentes perfiles de usuario.</li>
      <li>Gestión de la base de datos con modelados relacionales y no relacionales dependiendo las necesidades del modelo de negocio.</li>
      <li>Migraciones en la base de datos.</li>
      <li>Github para el versionado de las aplicaciones.</li>
      <li>Plataforma pública para la consulta de toda la información recabada desde el panel administrativo</li>
      <li>Eficientar la consulta pública beneficiando así a los abogados postulantes en el Estado de Hidalgo.</li>
    </ul>
  </section>
  <section class="technologies">
    <h3>TECNOLOGÍAS</h3>
    <p><span>Lenguajes de Programación: </span> JavaScript, <span>Frameworks y librerías: </span> React, Angular, Vue.js (en proceso), <span>Base de Datos: </span> PostgreSQL, Sequelize, <span>Herramientas: </span> Git, Jita, Slack, VSCode, WebStorm, npm, webpack (en formación) <span>Agile: </span> SCRUM.</p>
  </section>
  <section class="education">
    <h3>EDUCACIÓN PROFESIONAL</h3>
    <ul>
      <li>Ingeniero en Computación Administrativa (trunca 4o), Universidad Tec Milenio 2012</li>
      <li>Cinta Roja, Ciudad de México DevF 2020</li>
      <li>Full Stack Web Developer, Henry Bootcamp, Buenos Aires Argentina 2022</li>
      <li>Licenciado en Derecho con énfasis en juicios orales, Centro Universitario Antares, Pachuca Hidalgo, México 2022</li>
    </ul>
  </section>
  <section class="education">
    <h3>EDUCACIÓN COMPLEMENTARIA</h3>
    <ul>
      <li>Curso Básico de Programación Orientada a Objetos con JavaScript, Platzi 2022</li>
      <li>Curso de Pensamiento Lógico: Algoritmos y Diagramas de Flujo, Platzi 2022</li>
      <li>Curso Profesional de CSS Grid Layout, Platzi 2022</li>
      <li>Curso Práctico de Maquetación en CSS, Platzi 2022</li>
      <li>Curso de Responsive Design: Maquetación Mobile First, Platzi 2022</li>
      <li>Curso de Transformaciones y Transiciones en CSS, Platzi 2022</li>
      <li>Curso de Diseño Web con CSS Grid y Flexbox, Platzi 2022</li>
      <li>Curso de Backend con Node.js: API REST con Express.js, Platzi 2022</li>
      <li>Curso de Backend con Node.js: Autenticación con Passport.js y JWT, Platzi 2022</li>
      <li>Curso de Backend con Node.js: Base de Datos con PostgreSQL</li>
      <li>Curso de Fundamentos de TypeScript, Platzi 2022</li>
      <li>Curso de Introducción a React Native, Platzi 2022</li>
      <li>Curso de Introducción a React Native, Platzi 2022</li>
      <li>Curso Práctico de React Native: Manejo de Listas y Consumo de APIs, Platzi 2022</li>
      <li>Curso Práctico de React Native: Formularios, Almacenamiento y Deploy, Platzi 2022</li>
      <li>Curso de Fundamentos de Angular, Platzi 2022</li>
      <li>Curso de Angular: Componentes y Servicios, Platzi 2022</li>
      <li>Curso de Angular Forms: Creación y Optimización de Formularios Web, Platzi 2022</li>
      <li>Curso de Angular Router: Lazy Loading y Programación Modula, Platzi 2022</li>
      <li>Curso de Autenticación con Angular, Platzi 2022</li>
      <li>Curso de Consumo de APIs REST con Angular, Platzi 2022</li>
      <li>Curso de Maquetación con Angular CDK y Tailwind CSS, Platzi 2022</li>
      <li>Curso Práctico de Angular: Construye un Clon de Trello, Platzi 2022</li>
      <li>Curso de Vue.js: Introducción y Fundamentos, Platzi 2023</li>
    </ul>
  </section>
  <section class="education">
    <h3>IDIOMAS</h3>
    <ul>
      <li>Español, idioma nativo.</li>
      <li>Ingles C1, avanzado.</li>
    </ul>
  </section>
</div>



<button (click)="generatePDF()">Generar</button>
